/**
 * Global application styles.
 */

@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-fluid {
  padding-left: 0;
  display: flex;
}

.main-section {
  flex: 0 0 75%;
  max-width: 75%;
}